src/main/resources/CalculatorWebService.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<xs:schema xmlns:tns="http://server.oop.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
           targetNamespace="http://server.oop.com/">

    <xs:element name="add" type="tns:add"></xs:element>

    <xs:element name="addResponse" type="tns:addResponse"></xs:element>

    <xs:element name="getLog" type="tns:getLog"></xs:element>

    <xs:element name="getLogResponse" type="tns:getLogResponse"></xs:element>

    <xs:complexType name="getLog">
        <xs:sequence></xs:sequence>
    </xs:complexType>

    <xs:complexType name="getLogResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="add">
        <xs:sequence>
            <xs:element name="arg0" type="xs:int"></xs:element>
            <xs:element name="arg1" type="xs:int"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="addResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:int"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>